[Ll]ibrary/
[Tt]emp/
/.utmp/
[Oo]bj/
[Ll]ogs/
[Uu]ser[Ss]ettings/
[Bb]uilds/
[Bb]uild/
TestResults/
.DS_Store
.vs/
*.csproj
*.sln
*.slnx
*.pidb
*.unityproj

/Assets/OurTaikoNativeAudioBuild/
/Assets/OurTaikoNativeAudioBuild.meta
